<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <h1>{{ contact?.name }}</h1>
      </div>
      <img
        [src]="contact?.imageUrl"
        alt="{{ contact?.name }}"
        class="img-responsive center-block"
        style="max-height: 200px"
      />
    </div>

    <div class="row" style="margin-top: 10px">
      <div class="col-xs-12 text-right">
        <a
          class="btn btn-primary"
          [routerLink]="['/contacts', contact?.id, 'edit']"
          >Edit</a
        >
        <a class="btn btn-danger" (click)="onDelete()">Delete</a>
      </div>
    </div>

    <div class="row" style="margin-top: 10px">
      <div class="col-xs-12">
        <h4>
          <strong>{{ contact?.name }}</strong>
        </h4>
        <p><strong>Phone:</strong> {{ contact?.phone }}</p>
        <p><strong>Email:</strong> {{ contact?.email }}</p>
      </div>
    </div>

    <hr />

    <!-- Debug output -->
  </div>
</div>
