<div class="row">
  <div class="col-xs-12">
    <h1>Contact List</h1>
    <a class="btn btn-success pull-right" [routerLink]="['/contacts', 'new']">
      Add Contact
    </a>
  </div>
</div>
<hr />
<div class="row">
  <div
    class="col-xs-12"
    cdkDropList
    #availableContactsList="cdkDropList"
    [cdkDropListData]="contacts"
  >
    <div
      *ngFor="let contact of contacts"
      cdkDrag
      [cdkDragData]="contact"
      style="margin-bottom: 10px"
    >
      <cms-contact-item [contact]="contact"></cms-contact-item>
    </div>
  </div>
</div>
